<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>816276588236-e01kmmtnt9n37njass09si66oheh5pr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816276588236-e01kmmtnt9n37njass09si66oheh5pr0</string>
	<key>API_KEY</key>
	<string>AIzaSyC-yNm_5njV9hxoOwPiR2tTq3_JOJOoegg</string>
	<key>GCM_SENDER_ID</key>
	<string>816276588236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sawacar</string>
	<key>PROJECT_ID</key>
	<string>sawacar-1335</string>
	<key>STORAGE_BUCKET</key>
	<string>sawacar-1335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:816276588236:ios:e1bd6ee73d2bf9df</string>
	<key>DATABASE_URL</key>
	<string>https://sawacar-1335.firebaseio.com</string>
</dict>
</plist>
